* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-size:2.9rem;
}

html {
	font-size:62.5%;
}

body {
	text-align: center;
	font-family: Calibri, serif;
	background: #eeeeee;
}

header, footer {
	margin: 0;
	padding: 0;
	background: #a7c4ce;
}

footer {
	margin-top: 3rem;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.white {
	color: #eeeeee;
}

ul {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;
}

li {
	margin-right: 18px;
}

a {
	text-decoration: none;
	color: #656c6a;
}

section, form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section h1 {
	margin: 8px;
}

form {
	margin-top: 2rem;
}

textarea {
	width: 100%;
}

input[type=submit] {
	margin-top: 2rem;
	padding: 0.5rem 0.7rem;
	background-color: #a7c4ce;
	color: #eeeeee;
	border: none;
}

/*
 * admin
 */

#lastMessage {
	display: none;
}

#showLastMessage {
	font-size: 1.8rem;
	margin-top: 2rem;
	border: none;
	background-color: #959595;
	color: #eeeeee;
	padding: 0.5rem 0.7rem;
	border-radius: 10px;
}

#showLastMessage:hover {
	cursor: pointer;
}

/*
 * responsive
 */
@media screen and (max-width: 480px){
	ul {
		flex-wrap: wrap;
	}
}